html, body, head {
  height:100%;
}
body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body#logged-out {
  background: rgb(223,223,223);
}

body#logged-out div {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

body#logged-out section#chat {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

body#logged-out #startBtn {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}


body#logged-out section#login {
    opacity: 1;
}

section#login {
    transition: all 0.5s;
    opacity: 0;
    top: 45%;
    text-align: center;
    position: absolute;
    width: 100%
}
section#login label[for="u"] {
	display: block;
	font-size: 24px;
	margin-bottom: 10px;
}
section#login input#u {
	font-size: 25px;
	text-align: center;
	padding: 5px;
	border: 5px solid rgb(158, 158, 158);
}
section#login input#u:focus {
	outline: none;
}
section#login button {
	background: #e67e22;
	border: none;
	padding: 5px 80px;
	color: white;
	font-size: 20px;
	margin-top: 20px;
	cursor: pointer;
}

#chat {
  position : relative;
    float: right;
    width:40%;
    height: 80%;
    background-color: gray;
    overflow: auto;
}
#chat form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: position;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing:
  border-box;
}

#chat_input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#chat_input:focus {
  outline: none;
}

#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  width: 30%;
}
#messages > li {
  padding: 0.5rem 1rem;
}
/*
#messages > li:nth-child(odd) {
  background: #efefef;
}*/

section#chat #messages li span.username {
	display: inline-block;
	padding: 6px 10px;
	margin-right: 5px;
	color: #e67e22;
}


#drawing-board {
  /*display: flex;
  flex:2;*/
  float: left;
  width:100%;
  height:100%;
}

#drawing-pad{
  width:100%;
  height:100%;
}

#scoreboard{
  float: left;
  width:50%;
  height: 60%;
}

#drawing-pad{

}

li.logout{
  color: blue;
}

li.login{
  color: green;
}

.information{ /* à modifier */
  display: inline-block;
	padding: 3px 10px;
	margin-right: 5px;
	color: white;
	background: #e67e22;
	border-radius: 5px;
}
